/* Travel.css */

.travel-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.add-trip-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trip-input {
  flex-grow: 1;
  padding: 5px;

  font-size: 16px;
}

.add-trip-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-trip-button:hover {
  background-color: #0056b3;
}

.travel-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.travel-container input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.travel-container input[type='number'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.travel-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.travel-container button:hover {
  background-color: #0056b3;
}

.travel-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.travel-container li {
  margin-bottom: 5px;
  font-size: 16px;
}

.travel-container p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/* You can add more styles as needed to match your design preferences. */
